---
import { Data } from '../data/Modules.data';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
	<div class='container w-full mx-auto content-center'>
		<h1 class='text-white text-center text-5xl mb-10'>Módulos</h1>
		<main
			class='text-white flex gap-40 justify-center bg-image bg-no-repeat bg-contain bg-transparent bg-center'
		>
			<div class='flex flex-col gap-24'>
				{
					Data.map((modulo) => {
						if(modulo.modulo != "D".toString() && modulo.modulo.toString() != "E" && modulo.modulo.toString() != "F")
						{
							return (<a
								href=`modulos/${modulo.modulo}`
								class='px-10 py-5 text-lg font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'
							>Módulo {modulo.modulo}</a>)
						}
					})
				}
			</div>

			<div class='flex flex-col gap-24'>
				{
					Data.map((modulo) => {
						if(modulo.modulo != "A".toString() && modulo.modulo.toString() != "B" && modulo.modulo.toString() != "C")
						{
							return (<a
								href=`modulos/${modulo.modulo}`
								class='px-10 py-5 text-lg font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'
							>Módulo {modulo.modulo}</a>)
						}
					})
				}
			</div>
		</main>
	</div>
</Layout>

<style>
	.bg-image {
		background-image: url('/public/AquamarLogo.png');
	}
</style>
